---
import "@fontsource/inter/latin-400.css";
import "@fontsource/inter/latin-600.css";
import "@fontsource/lora/400.css";
import "@fontsource/lora/600.css";
import inter400 from "@fontsource/inter/files/inter-latin-400-normal.woff2";
import inter600 from "@fontsource/inter/files/inter-latin-600-normal.woff2";
import lora400 from "@fontsource/lora/files/lora-latin-400-normal.woff2";
import lora600 from "@fontsource/lora/files/lora-latin-600-normal.woff2";
---

<!doctype html>
<html class="scroll-smooth">
  <head>
    <title>Harry Bendekgey</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />

    <!-- Font preloads -->
    <link
      rel="preload"
      href={inter400}
      as="font"
      type="font/woff2"
      crossorigin
    />

    <link
      rel="preload"
      href={inter600}
      as="font"
      type="font/woff2"
      crossorigin
    />

    <link
      rel="preload"
      href={lora400}
      as="font"
      type="font/woff2"
      crossorigin
    />

    <link
      rel="preload"
      href={lora600}
      as="font"
      type="font/woff2"
      crossorigin
    />
  </head>

  <body class="px-4 font-serif">
    <nav
      class="flex justify-between items-center p-4 sticky top-0 backdrop-blur bg-white/80 text-neutral-600 font-sans"
    >
      <h3 class="font-bold text-lg">Harry Bendekgey</h3>
      <!-- <div class="flex space-x-2">
        <a
          href="#intro"
          class="underline underline-offset-2 decoration-black/20 hover:text-black transition-colors"
          >About</a
        >
        <span>/</span>
        <a
          href="#interests"
          class="underline underline-offset-2 decoration-black/20 hover:text-black transition-colors"
          >Interests</a
        >
        <span>/</span>
        <a
          href="#publications"
          class="underline underline-offset-2 decoration-black/20 hover:text-black transition-colors"
          >Publications</a
        >
        <span>/</span>
        <a
          href="#contact"
          class="underline underline-offset-2 decoration-black/20 hover:text-black transition-colors"
          >Contact</a
        >
      </div> -->
    </nav>

    <div class="prose m-auto prose-headings:font-sans -mt-12 pt-12" id="intro">
      <section class="mt-8 border rounded-md p-5">
        <div>
          <h3 class="mt-0">
            <b> Hi, I'm Harry,</b>
          </h3>

          <img
            class="rounded-full size-52 float-right mt-0 ml-4"
            src="images/h.jpg"
            alt="Harry Bendekgey's portrait"
          />

          <p>
            a fifth-year computer science Ph.D. candidate at UC Irvine
            advised by <a href="https://www.ics.uci.edu/~sudderth/"
              >Erik Sudderth</a
            >.
          </p>

          <p>
            My research focuses on how we can introduce structure and
            constraints to deep generative models when we have prior knowledge
            but limited data.
          </p>

          <p>
            I love <a href="/games">board games</a>, paddleboarding, sufing, and
            my dog <a href="images/Claude.jpg">Claude</a>.
          </p>

          <p>
            <a
              href="resumes/res.pdf"
              class="inline-block p-2 px-3 rounded no-underline text-center hover:bg-neutral-100 transition-colors"
            >
              CV</a
            > /
            <a
              href="https://scholar.google.com/citations?user=3oKUp10AAAAJ"
              class="inline-block p-2 px-3 rounded no-underline text-center hover:bg-neutral-100 transition-colors"
            >
              Google Scholar</a
            > /
            <a
              href="https://www.linkedin.com/in/hbendekgey"
              class="inline-block p-2 px-3 rounded no-underline text-center hover:bg-neutral-100 transition-colors"
            >
              LinkedIn</a> / 
            <a
              href="https://github.com/hbendekgey"
              class="inline-block p-2 px-3 rounded no-underline text-center hover:bg-neutral-100 transition-colors"
            >
              Github</a>
          </p>
        </div>
      </section>

      <!-- <div class="flex flex-col items-start mt-6 font-sans">
        <a
          href="resumes/res.pdf"
          class="inline-block p-2 px-3 rounded no-underline text-center hover:bg-neutral-100 transition-colors"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-file inline mr-2 h-3.5 w-3.5 mb-0.5"
            ><path
              d="M15 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7Z"
            ></path><path d="M14 2v4a2 2 0 0 0 2 2h4"></path></svg
          >
          Academic Resume</a
        >

        <a
          href="resumes/ind_res.pdf"
          class="inline-block p-2 px-3 rounded no-underline text-center hover:bg-neutral-100 transition-colors"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-file inline mr-2 h-3.5 w-3.5 mb-0.5"
            ><path
              d="M15 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7Z"
            ></path><path d="M14 2v4a2 2 0 0 0 2 2h4"></path></svg
          >
          Industry Resume</a
        >
      </div> -->

      <!-- <section id="interests" class="pt-12 -mt-12">
        <header class="major">
          <h3>Academic Interests</h3>
        </header>
        <ul class="features">
          <li>
            <span class="icon major style1 fas fa-diagram-project"></span>
            <h4>Structured Generative Modeling</h4>
            <p>
              Generative models are not just useful for generating synthetic
              data; they also help us understand the underlying factors of
              variation in our data. My work aims to build generative models
              that are interpretable and give us insight into the data we train
              it on.
            </p>
          </li>
          <li>
            <span class="icon major style5 fas fa-circle-question"></span>
            <h4>Inference in Generative Models</h4>
            <p>
              How can we leverage trained graphical models to solve new
              inference questions at test-time? Often times, this requires a
              careful treatment of multimodality. We aim to improve inference
              methods to impute missing data, estimate meaningful underlying
              parameters, and cluster observations.
            </p>
          </li>
          <li>
            <span class="icon major style3 fas fa-balance-scale"></span>
            <h4>Fair Machine Learning</h4>
            <p>
              As decision-making processes become increasingly automated,
              ethical questions about model fairness are no longer thought
              experiments. Left unchecked, algorithms can exacerbate disparities
              between genders, racial groups, and other legally-protected
              categories of identity.
            </p>
          </li>
        </ul>
      </section> -->

      <section id="publications" class="pt-12 -mt-12">
        <header class="major">
          <h3>Publications</h3>
        </header>
        <table>
          <tbody>
            <tr>
              <td align="left"
                ><i
                  >Undergraduate data science education: Who has the microphone and what are they saying?</i
                >
                <br /> M Dogucu, S Demirci, <b>H Bendekgey</b>, FZ Ricci, CM Medina. In submission. <a
                  href="https://arxiv.org/pdf/2403.03387">ArXiv Link</a
                >
              </td>
            </tr>
            <tr>
              <td align="left"
                ><i
                  >Unbiased Learning of Deep Generative Models with Structured
                  Discrete Representations.</i
                >
                <br /><b>H Bendekgey</b>, G Hope, E Sudderth. NeurIPS 2023. <a
                  href="https://arxiv.org/pdf/2306.08230.pdf">ArXiv Link</a
                >
              </td>
            </tr>
            <tr>
              <td align="left"
                ><i>Scaling study of diffusion in dynamic crowded spaces.</i>
                <br /><b>H Bendekgey</b>, G Huber, and D Yllanes. <a
                  href="https://arxiv.org/abs/2011.02444">ArXiv Link</a
                >
                <br />Talks and Presentations: <a
                  href="https://meetings.aps.org/Meeting/MAR22/Session/T09.10"
                  >March Meeting 2022</a
                ></td
              >
            </tr>
            <tr>
              <td align="left"
                ><i
                  >Scalable & Stable Surrogates for Flexible Classifiers with
                  Fairness Constraints.</i
                >
                <br /><b>H Bendekgey</b>, E Sudderth. NeurIPS 2021.<br /> Talks and
                Presentations: Southern California Machine Learning Symposium 2021</td
              >
            </tr>
            <tr>
              <td align="left"
                ><i
                  >Clustering Player Strategies from Variable-Length Game Logs
                  in Dominion</i
                >
                <br />
                <b>H Bendekgey</b>. AAAI Workshop on Knowledge Extraction from
                Games (KEG), 2019. <a href="https://arxiv.org/pdf/1811.11273"
                  >ArXiv Link</a
                ></td
              >
            </tr>
          </tbody>
        </table>
      </section>

      <!-- <section id="cta" class="pt-12 -mt-12 mb-12">
        <h3>Please feel free to reach out!</h3>
        <div class="flex space-x-2 mt-12 justify-center">
          <a
            href="https://www.linkedin.com/in/hbendekgey"
            class="border rounded-full p-2 inline-block hover:bg-neutral-100 transition-colors"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-linkedin"
              ><path
                d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"
              ></path><rect width="4" height="12" x="2" y="9"></rect><circle
                cx="4"
                cy="4"
                r="2"></circle></svg
            >
          </a>

          <a
            href="https://github.com/hbendekgey"
            class="border rounded-full p-2 inline-block hover:bg-neutral-100 transition-colors"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-github"
              ><path
                d="M15 22v-4a4.8 4.8 0 0 0-1-3.5c3 0 6-2 6-5.5.08-1.25-.27-2.48-1-3.5.28-1.15.28-2.35 0-3.5 0 0-1 0-3 1.5-2.64-.5-5.36-.5-8 0C6 2 5 2 5 2c-.3 1.15-.3 2.35 0 3.5A5.403 5.403 0 0 0 4 9c0 3.5 3 5.5 6 5.5-.39.49-.68 1.05-.85 1.65-.17.6-.22 1.23-.15 1.85v4"
              ></path><path d="M9 18c-4.51 2-5-2-7-2"></path></svg
            ></a
          >

          <a
            href="https://twitter.com/hbendekgey"
            class="border rounded-full p-2 inline-block hover:bg-neutral-100 transition-colors"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-twitter"
              ><path
                d="M22 4s-.7 2.1-2 3.4c1.6 10-9.4 17.3-18 11.6 2.2.1 4.4-.6 6-2C3 15.5.5 9.6 3 5c2.2 2.6 5.6 4.1 9 4-.9-4.2 4-6.6 7-3.8 1.1 0 3-1.2 3-1.2z"
              ></path></svg
            ></a
          >
        </div>
      </section> -->
    </div>

    <footer>
      <p class="text-xs text-center mb-2">&copy; Harry Bendekgey</p>
    </footer>
  </body>
</html>
