---
import "@fontsource/inter/latin-400.css";
import "@fontsource/inter/latin-600.css";
import "@fontsource/lora/400.css";
import "@fontsource/lora/600.css";
import inter400 from "@fontsource/inter/files/inter-latin-400-normal.woff2";
import inter600 from "@fontsource/inter/files/inter-latin-600-normal.woff2";
import lora400 from "@fontsource/lora/files/lora-latin-400-normal.woff2";
import lora600 from "@fontsource/lora/files/lora-latin-600-normal.woff2";
---

<!doctype html>
<html class="scroll-smooth">
  <head>
    <title>Harry Bendekgey</title>
    <link
      rel="icon"
      type="image/svg+xml"
      href="data:image/svg+xml,
      <svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' 
      fill='none' stroke='grey' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-user-search'>
      <circle cx='10' cy='7' r='4'/>
      <path d='M10.3 15H7a4 4 0 0 0-4 4v2'/>
      <circle cx='17' cy='17' r='3'/><path d='m21 21-1.9-1.9'/></svg>"
    />
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />

    <!-- Font preloads -->
    <link
      rel="preload"
      href={inter400}
      as="font"
      type="font/woff2"
      crossorigin
    />

    <link
      rel="preload"
      href={inter600}
      as="font"
      type="font/woff2"
      crossorigin
    />

    <link
      rel="preload"
      href={lora400}
      as="font"
      type="font/woff2"
      crossorigin
    />

    <link
      rel="preload"
      href={lora600}
      as="font"
      type="font/woff2"
      crossorigin
    />
  </head>

  <body class="px-4 font-serif h-full">
    <nav
      class="sm:flex justify-between items-center p-4 sticky top-0 backdrop-blur bg-white/80 text-neutral-600 font-sans"
    >
      <h3 class="font-bold text-lg">Harry Bendekgey</h3>
      <div class="py-2">
        <a
          href="resumes/res.pdf"
          class="inline-block rounded no-underline text-center hover:underline transition-colors"
        >
          CV</a
        > /
        <a
          href="https://scholar.google.com/citations?user=3oKUp10AAAAJ"
          class="inline-block rounded no-underline text-center hover:underline transition-colors"
        >
          Google Scholar</a
        > /
        <a
          href="https://www.linkedin.com/in/hbendekgey"
          class="inline-block rounded no-underline text-center hover:underline transition-colors"
        >
          LinkedIn</a
        > /
        <a
          href="https://github.com/hbendekgey"
          class="inline-block rounded no-underline text-center hover:underline transition-colors"
        >
          Github</a
        >
      </div>
    </nav>

    <div
      class="prose m-auto prose-headings:font-sans -mt-12 pt-12 max-w-3xl"
      id="intro"
    >
      <img
        class="rounded-full size-40 mb-12 mt-8 m-auto"
        src="images/h.jpg"
        alt="Harry Bendekgey's portrait"
      />
      <section class="mt-8 rounded-md border p-5">
        <h3 class="mt-0">
          <b>Harry Bendekgey</b>
        </h3>

        <p>
          I am an Assistant Teaching Professor at <a href="https://engineering.tufts.edu/cs/about">Tufts Computer Science</a> with a specialization in machine learning and artificial intelligence. In Fall 2025 I am teaching CS61: Discrete Mathematics and CS135: Introduction to Machine Learning.
        </p>
        <p>
          Before coming to Tufts, I was a Ph.D. candidate at UC Irvine advised by 
          <a href="https://www.ics.uci.edu/~sudderth/">Erik Sudderth</a>.
          My research focuses on how we can introduce structure and constraints
          to deep generative models when we have prior knowledge but limited
          data. <a href="https://escholarship.org/content/qt5xm7k78s/qt5xm7k78s.pdf">My thesis is available online</a> in the University of California Digital Library.
        </p>

        <p>
          If you want to connect about research or pedagogy, I can be reached at <i>firstname.last@gmail.com</i>.
        </p>

        <p>
          I love <a href="/games">board games</a> and am always excited to talk about them.
        </p>

        <p></p>
      </section>

      <section id="publications" class="pt-12 -mt-12">
        <header class="major">
          <h3>Publications</h3>
        </header>
        <table>
          <tbody>
            <tr>
              <td align="left">
                <i>Third-order photon correlations extract single-nanocrystal multiexciton properties in solution</i>
                <br /> JR Horowitz, DB Berkinsky, <b>H Bendekgey</b>, OJ Tye, T Šverko, KE Shulenberger, and MG Bawendi,
                <br /> Oprics Express, 2025.
                <a href="https://opg.optica.org/oe/fulltext.cfm?uri=oe-33-15-31785">Paper</a>.
              </td>
            </tr>

            <tr>
              <td align="left">
                <i>A Systematic Literature Review of Undergraduate Data Science Education Research</i>
                <br /> M Dogucu, S Demirci, <b>H Bendekgey</b>, FZ Ricci, and CM Medina, 
                <br /> Journal of Statistics and Data Science Education, 2025.
                <a href="https://www.tandfonline.com/doi/full/10.1080/26939169.2025.2486656">Paper</a>.
                <a href="https://arxiv.org/pdf/2403.03387">ArXiv link</a>.
                <br /> Talks and Presentations: <a 
                  href="https://www.causeweb.org/cause/ecots/ecots24/program/breakout/building-data-science-education-research-plan-for-teacher-scholars"
                  >Electronic Conference on Teaching Statistics, 2024</a>.
              </td>
            </tr>

            <tr>
              <td align="left">
                <i>Scaling study of diffusion in dynamic crowded spaces.</i>
                <br /> <b>H Bendekgey</b>, G Huber, and D Yllanes, 
                <br /> Journal of Physics A: Mathematical and Theoretical, 2024.
                <a href="https://iopscience.iop.org/article/10.1088/1751-8121/ad8496"> Paper</a>.
                <a href="https://arxiv.org/abs/2011.02444">ArXiv link</a>.
                <br />Talks and Presentations: <a
                  href="https://meetings.aps.org/Meeting/MAR22/Session/T09.10"
                  >American Physical Society March Meeting, 2022</a>.
              </td>
            </tr>
            <tr>
              <td align="left">
                <i>Unbiased Learning of Deep Generative Models with Structured Discrete Representations.</i>
                <br /> <b>H Bendekgey</b>, G Hope, and E Sudderth, 
                <br /> Conference on Neural Information Processing Systems, 2023.
                <a href="https://proceedings.neurips.cc/paper_files/paper/2023/file/dcc337bb2a4d25afefd9ab800721debb-Paper-Conference.pdf"> Paper</a>. 
                <a href="https://arxiv.org/pdf/2306.08230.pdf">ArXiv link</a>.
                <br /> Talks and Presentations: Pomona College Computer Science Colloquium Series.
              </td>
            </tr>
            <tr>
              <td align="left">
                <i>Scalable & Stable Surrogates for Flexible Classifiers with Fairness Constraints.</i>
                <br /> <b>H Bendekgey</b> and E Sudderth, 
                <br /> Conference on Neural Information Processing Systems, 2021. 
                <a href="https://proceedings.neurips.cc/paper_files/paper/2021/file/fc2e6a440b94f64831840137698021e1-Paper.pdf"> Paper</a>.
                <br /> Talks and Presentations: Southern California Machine Learning Symposium, 2021.
              </td>
            </tr>
          </tbody>
        </table>
      </section>
    </div>

    <footer>
      <p class="text-xs text-center mb-2">&copy; Harry Bendekgey</p>
    </footer>
  </body>
</html>
